{
  "presets": [
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "entry",
        "corejs": "3.8.2"
      }
    ],
    "@babel/preset-typescript",
    [
      "@babel/preset-react",
      { "runtime": "automatic", "importSource": "@emotion/react" }
    ]
  ],
  "plugins": [
    "@babel/plugin-proposal-class-properties",
    "babel-plugin-transform-inline-environment-variables",
    "babel-plugin-macros",
    ["@emotion/babel-plugin", {
      "sourceMap": true,
      "autoLabel": "dev-only",
      "labelFormat": "[local]",
      "cssPropOptimization": true
    }],
    "react-hot-loader/babel"
  ]
}