# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules

# testing
/coverage

# production
/build
/release

# misc
.DS_Store
.env.development
.env.test
.env.production
.idea
.vscode

# secrets
secrets.*.js
