.ate_TranslationItem {
  @apply p-3 text-gray-800 space-y-3 select-text;

  &__upper {
    @apply space-y-3;
  }
  &__lower {
    @apply flex justify-between items-center;

    & > div {
      @apply space-x-2
    }
  }
  &__original {
    @apply bg-gray-50 hover:bg-gray-100 p-3 rounded cursor-pointer leading-normal;

    .ReactCollapse--collapse {
      min-height: 48px;
      will-change: height;
      transition-property: height;

      @apply ease-in-out duration-300;
    }
    .ReactCollapse--content {
      @apply space-y-2;
    }
  }
  &__result {
    @apply rounded bg-yellow-50 p-3 space-y-2 leading-normal;
  }
  &__source-lang-tag {
    @apply px-2 py-1 bg-green-50 text-green-600 text-sm rounded;
  }
  &__copy-button,
  &__jump-button {
    @apply p-1;
  }
}